@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1920px;
    min-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}


.input-style {
    @apply border border-gray-300 bg-gray-200 px-1 text-xs outline-none;
}

.btn-style {
    @apply bg-amber-900 text-gray-300 font-light rounded-sm whitespace-nowrap;
}

.section-style {
    @apply rounded-sm overflow-hidden;
}

.table-header-style {
    @apply bg-indigo-300 text-white;
}